In [2]:
import pandas as pd

In [3]:
from typing import List

In [16]:
df = catalog.load("title_ner_annotations_all_the_news")

[03/03/23 18:30:37] INFO     Loading data from 'title_ner_annotations_all_the_news'             ]8;id=229921;file:///Users/mac_markus/opt/anaconda3/envs/finance_news/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=265401;file:///Users/mac_markus/opt/anaconda3/envs/finance_news/lib/python3.9/site-packages/kedro/io/data_catalog.py#343\343]8;;\
                             (ParquetDataSet)...

In [17]:
df.head()

,text,label,confidence,start_pos,end_pos,article_id,sentence_id,sentence_nr
0,France,GPE,0.999995,0,6,3,0,0
1,Sarkozy,PERSON,0.999971,9,16,3,0,0
2,ECB,ORG,0.999996,0,3,5,1,0
3,Venezuela,GPE,0.999957,0,9,6,2,0
4,six,CARDINAL,0.999955,18,21,6,2,0

In [19]:
df.count()

text           2467657
label          2467657
confidence     2467657
start_pos      2467657
end_pos        2467657
article_id     2467657
sentence_id    2467657
sentence_nr    2467657
dtype: int64

In [30]:
df.loc[df['label']=='ORG',['text','label','confidence']].groupby(['label','text']).count()

In [7]:
df = catalog.load("cleaned_with_text_col_all_the_news_data")

[03/03/23 14:24:54] INFO     Loading data from 'cleaned_with_text_col_all_the_news_data'        ]8;id=777619;file:///Users/mac_markus/opt/anaconda3/envs/finance_news/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=659441;file:///Users/mac_markus/opt/anaconda3/envs/finance_news/lib/python3.9/site-packages/kedro/io/data_catalog.py#343\343]8;;\
                             (ParquetDataSet)...

In [8]:
df.head()

,date_time,year,month,day,title,article,url,publication,date,title_cleaned,article_cleaned,text,text_cleaned
3,2019-06-27 00:00:00,2019,6.0,27,France's Sarkozy reveals his 'Passions' but in...,PARIS (Reuters) - Former French president Nico...,https://www.reuters.com/article/france-politic...,Reuters,2019-06-27,frances sarkozy reveals his passions but insis...,paris reuters former french president nicolas...,France's Sarkozy reveals his 'Passions' but in...,frances sarkozy reveals his passions but insis...
5,2019-06-17 00:00:00,2019,6.0,17,"ECB's Coeure: If we decide to cut rates, we'd ...","BERLIN, June 17 (Reuters) - ECB board member B...",https://www.reuters.com/article/ecb-policy-coe...,Reuters,2019-06-17,ecbs coeure if we decide to cut rates wed have...,berlin june 17 reuters ecb board member benoi...,"ECB's Coeure: If we decide to cut rates, we'd ...",ecbs coeure if we decide to cut rates wed have...
6,2019-06-23 00:00:00,2019,6.0,23,"Venezuela detains six military, police officia...",CARACAS (Reuters) - Venezuelan authorities hav...,https://www.reuters.com/article/us-venezuela-p...,Reuters,2019-06-23,venezuela detains six military police official...,caracas reuters venezuelan authorities have a...,"Venezuela detains six military, police officia...",venezuela detains six military police official...
7,2018-05-02 17:09:00,2018,5.0,2,You Can Trick Your Brain Into Being More Focused,If only every day could be like this. You can’...,https://www.vice.com/en_us/article/9kgp4v/how-...,Vice,2018-05-02,you can trick your brain into being more focused,if only every day could be like this you can’t...,You Can Trick Your Brain Into Being More Focus...,you can trick your brain into being more focus...
10,2019-05-22 20:10:00,2019,5.0,22,“Elizabeth Warren called me!” is turning into ...,Elizabeth Warren is giving people a new reason...,https://www.vox.com/policy-and-politics/2019/5...,Vox,2019-05-22,“elizabeth warren called me” is turning into a...,elizabeth warren is giving people a new reason...,“Elizabeth Warren called me!” is turning into ...,“elizabeth warren called me” is turning into a...

In [15]:
df[['publication','title']].groupby(['publication']).count()

,title
publication,
Axios,26453
Business Insider,51073
Buzzfeed News,12213
CNBC,139590
CNN,68797
Economist,11234
Fox News,17576
Gizmodo,8593
Hyperallergic,5838
Mashable,27472
New Republic,3362
New Yorker,1855
People,56470
Politico,18463
Refinery 29,51003
Reuters,360711
TMZ,20712
TechCrunch,22012
The Hill,97158
The New York Times,107274
The Verge,20158
Vice,22958
Vice News,4662
Vox,18236
Washington Post,40767
Wired,8241

In [31]:
import nltk

In [33]:
a = "This is a short test. Will this be separated into two sentences?"

In [35]:
b = nltk.tokenize.sent_tokenize(a, language='english')

In [37]:
bool(None)

False

In [38]:
b[:2]

['This is a short test.', 'Will this be separated into two sentences?']

In [36]:
len(b)

2